{{ define "title" }}
  Python on Nix: Everything you need to run your Python code on Nix!
{{ end }}

{{ define "nav-title"}}
  Python on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Everything you need to run your Python code on Nix
{{ end }}

{{ define "main" }}
  {{ range $project := $.Site.Data.projects.by_name }}
    <p class="ma1">
      <dfn class="b fs-normal">
        {{ .title }}
      </dfn>
      = {{ $project.meta.desc }}
    </p>
    <table>
      <thead>
        <tr>
          <th class="bb fw4">Version</th>
          <th class="bb fw4">Python Version</th>
        </tr>
      </thead>
      {{ range $version := .versions }}
        <tbody>
          <tr>
            <td class="ph3">{{ $version.name }}</td>
            <td class="ph3">
              {{ range $pythonVersion := $version.data.pythonVersions }}
                <a class="b blue" href="/projects/{{ $project.title }}-{{ $version.name }}-{{ $pythonVersion.name }}/">
                  {{ $pythonVersion.data.nameShort }}
                </a>
                &nbsp;
              {{ end }}
            </td>
          </tr>
        </tbody>
      {{ end }}
    </table>
    <hr/>
  {{ end }}
{{ end }}
