{{ define "title" }}
  Using {{ .Params.project }} {{ .Params.version }} for {{ .Params.pythonVersion }} on Nix
{{ end }}

{{ define "nav-title"}}
  Python on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Everything you need to run your Python code on Nix
{{ end }}

{{ define "main" }}
  {{ $projectData := index $.Site.Data.projects.by_tree .Params.index }}

  <p class="ma1">
    <dfn class="b fs-normal">
      {{ $projectData.title }} {{ .Params.version }} for {{ .Params.pythonVersion }}
    </dfn>
    = {{ $projectData.meta.desc }}
  </p>

  <ul>
    <li>
      <a class="sec-d" href="https://pypi.org/project/{{ $projectData.title }}">
        https://pypi.org/project/{{ $projectData.title }}
      </a>
    </li>
    {{ if $projectData.meta.home }}
      <li>
        <a class="sec-d" href={{ $projectData.meta.home }}>
          {{ $projectData.meta.home }}
        </a>
      </li>
    {{ end }}
  </ul>

  {{ if $projectData.meta.license }}
    Project license:

    {{ highlight $projectData.meta.license "nix" ""}}
  {{ end }}

  {{ if $projectData.tests }}
    Custom Python tests:

    {{ highlight $projectData.tests "py" ""}}
  {{ end }}

  {{ if $projectData.setup }}
    Custom Nix configuration:

    {{ highlight $projectData.setup "nix" ""}}
  {{ end }}

  {{ if $projectData.pythonVersion.data.closure }}
    Required Python dependencies:

    <ul>
      {{ range $project, $version := $projectData.pythonVersion.data.closure }}
        <li>
          <a class="sec-d" href="/projects/{{ $project }}-{{ $version }}-{{ $projectData.pythonVersion.name }}/">
            {{ $project }} == {{ $version }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  Try it out:

  <ul>
    Nix stable:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.tryItOut.stable "sh" ""}}
    </li>

    Nix Flakes:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.tryItOut.flakes "sh" ""}}
    </li>
  </ul>

  Install {{ $projectData.title }}'s command line applications in your system:

  <ul>
    Nix stable:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.installApps.stable "sh" ""}}
    </li>

    Nix Flakes:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.installApps.flakes "sh" ""}}
    </li>
  </ul>

  Use many Python projects together:

  <ul>
    Nix stable:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.many.stable "sh" ""}}
    </li>

    Nix Flakes:
    <li class="list">
      {{ highlight $projectData.pythonVersion.data.demos.many.flakes "sh" ""}}
    </li>
  </ul>

{{ end }}
