{{ define "title" }}
  Using {{ .Params.project }} {{ .Params.version }} for {{ .Params.pythonVersion }} on Nix
{{ end }}

{{ define "nav-title"}}
  Python on Nix
{{ end }}

{{ define "nav-subtitle"}}
  Everything you need to run your Python code on Nix
{{ end }}

{{ define "main" }}
  {{ $projectData := index $.Site.Data.projects.by_tree .Params.index }}

  <p class="ma1">
    <dfn class="b fs-normal">
      {{ $projectData.title }} {{ .Params.version }} for {{ .Params.pythonVersion }}
    </dfn>
    = {{ $projectData.meta.desc }}
  </p>

  <ul>
    <li>
      <a class="blue link" href="https://pypi.org/project/{{ $projectData.title }}">
        https://pypi.org/project/{{ $projectData.title }}
      </a>
    </li>
    {{ if $projectData.meta.home }}
      <li>
        <a class="blue link" href={{ $projectData.meta.home }}>
          {{ $projectData.meta.home }}
        </a>
      </li>
    {{ end }}
  </ul>

  {{ if $projectData.meta.license }}
    Project license:

    {{ highlight $projectData.meta.license "nix" ""}}
  {{ end }}

  Custom Nix configuration:

  {{ highlight $projectData.setup "nix" ""}}

  Custom Python tests:

  {{ highlight $projectData.tests "py" ""}}
{{ end }}
